@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  display: flex;
  margin: auto;
  width: 50%;
}

.Grid {
  display: table;
  min-width: 500px;
}

.row {
  display: table-row;
}

input {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

button {
  border: 1px solid black;
}
